<% include ../partials/header %>

<% include ../partials/adminSidebar %>
    <div class="col-10">
        <div id="block">
            <p>
                <span id="username">
                Welcome <%= currentUser.username %>! <br></span>
                Here you can manage all the data of your institute.
            </p>
            
        </div>
    </div>