


<div class="row">
    <div class="col-2">
        <div id="sidebar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Enable/Disable Assistant</a></li>
                <li><a href="/admin/viewFeeDetails">View Fee Details</a></li>
                <li><a href="">Add/View Departments</a></li>
                <li><a href="">Add/View Faculty</a></li>
                <li><a href="">Add/View Students</a></li>
                <li><a href="">Announcements</a></li>
            </ul>
        </div>
    </div>


