<div class="row">
    <div class="col-2">
        <div id="sidebar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Enable/Disable Assistant</a></li>
                <!-- <li><a href="/faculty/analyzeAttendance">Analyze Attendance</a></li>
                <li><a href="/faculty/analyzeResult">Analyze Result</a></li> -->
                <li><a href="/faculty/analyzeAttendancePlotly">Analyze Attendance</a></li>
                <li><a href="/faculty/analyzeResultPlotly">Analyze Result </a></li>
                <li><a href="">Add/View Students</a></li>
                <li><a href="">Announcements</a></li>
            </ul>
        </div>
    </div>