<% include ../../partials/header %>

<% include ../../partials/facultySidebar %> 

<div class="col-10 text-center">
        <div id='marksGraph' class="m-2 text-center">
            <p class="status p-3">DBMS Marks Analysis</p>
            <img src="rcs501_ct1_analysis.jpeg" class='m-2' alt="">
        </div>
        <div id='marksGraph' class="m-2 text-center">
            <p class="status p-3">DAA Marks Analysis</p>
            <img src="rcs502_ct1_analysis.jpeg" class='m-2' alt="">
        </div>
        <div id='marksGraph' class="m-2 text-center">
            <p class="status p-3">PPL Marks Analysis</p>
            <img src="rcs503_ct1_analysis.jpeg" class='m-2' alt="">
        </div>
        <div id='marksGraph' class="m-2 text-center">
            <p class="status p-3">CT-1 Marks Simultaneous Plot</p>
            <img src="ct1_all_in_one_plot.jpeg" class='m-2' alt="">
        </div>
    </div>
<!-- <div class="row d-flex justify-content-center">
    <div class="col-5 text-center m-2" id='marksGraph'>
        <p class="status p-3">DBMS Marks Analysis</p>
        <img width="500" height="400" src="rcs501_ct1_analysis.jpeg" class='m-2 d-inline' alt="">
    </div>
    <div class="col-5 text-center m-2" id='marksGraph'>
        <p class="status p-3">DAA Marks Analysis</p>
        <img width="600" height="400" src="rcs501_ct1_analysis.jpeg" class='m-2 d-inline' alt="">
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-5 text-center m-2" id='marksGraph'>
        <p class="status p-3">PPL Marks Analysis</p>
        <img width="600" height="400" src="rcs501_ct1_analysis.jpeg" class='m-2 d-inline' alt="">
    </div>
</div> -->