<% include ../partials/header %>

<% include ../partials/facultySidebar %>
    <div class="col-10">
        <div id="block">
            <p>
                <span id="username">
                <!-- Welcome <%= currentUser.username %>! <br></span> -->
                Welcome Upendra Mishra to EasyView!<br></span>
                Here you can manage students and their data.
            </p>
            
        </div>
    </div>