<% include ./partials/header %>


    <div id="upper">
        <div class="container">
            <h1 class="display-4 text-center text-white pt-3 ">Welcome to EasyView <i class="far fa-eye"></i></h1>
            <div class="row align-items-center">
                <!-- <p class="col-2 display-5 text-white align-items-center">Single Solution to all problems of small | medium | large Institutes <i class="fas fa-university"></i>.</p> -->
            </div>
        </div>
    </div>


    <div class="home-back d-flex align-items-center">

        <div class="container ">
            <div class="row ">
                <div class="col-12 col-lg-4 ">
                    <div class="card rounded hvr-grow">
                        <!-- https://i.ibb.co/bmkBVVp/admin.png -->
                        <!-- https://images.pond5.com/institute-animated-word-cloud-text-footage-072751394_prevstill.jpeg -->
                        <!-- http://www.sfdcpoint.com/wp-content/uploads/2019/01/Salesforce-Admin-Interview-questions.png" -->
                        <img src="admin.png" class="card-img-top" alt="...">
                        <div class="card-body text-center rounded">
                            <h5 class="card-title text-center text-uppercase ">Administrator Login</h5>
                            <p class="card-text">Manage all the departments, faculty and student.</p>
                            <a href="/admin/login" class="btn btn-success ">Log In</a>
                            <a href="/admin/register" class="btn btn-success ">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 ">
                    <div class="card rounded hvr-grow">
                        <!-- https://i.ibb.co/H7YZGDt/faculty.png -->
                        <!-- http://www.arshadnizamclasses.com/images/faculty.jpg -->
                        <img src="faculty.png" class="card-img-top " alt="...">
                        <div class="card-body text-center rounded">
                            <h5 class="card-title text-center text-uppercase">Faculty Login</h5>
                            <p class="card-text">Faculties can login and manage student data.</p>
                            <a href="/faculty/login" class="btn btn-success ">Log In</a>
                            <!-- <a href="/student/register" class="btn btn-success text-uppercase">Sign Up</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card rounded hvr-grow">
                        <!-- https://images.pond5.com/college-student-animated-word-cloud-footage-079664712_prevstill.jpeg -->
                        <!-- https://i.ibb.co/py3P38S/student.jpg -->
                        <!-- https://i.ibb.co/hL8KHbp/student.png -->
                        <img src="student.png" class="card-img-top" alt="...">
                        <div class="card-body text-center rounded">
                            <h5 class="card-title text-center text-uppercase ">Student Login</h5>
                            <p class="card-text">If the institute is registered with us, the students can login here.</p>
                            <a href="/student/login" class="btn btn-success ">Log In</a>
                            <!-- <a href="/student/register" class="btn btn-success text-uppercase">Sign Up</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Developed by <span>Shivam Shukla</span></h3>



            <p class="footer-company-name">SS &copy; 2020</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Lucknow</span> UP, India</p>
            </div>

            <!--<div>-->
            <!--	<i class="fa fa-phone"></i>-->
            <!--	<p>+1 555 123456</p>-->
            <!--</div>-->

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:shivam.dev1097@gmail.com">shivam.dev1097@gmail.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>Follow us  </span>
            </p>

            <div class="footer-icons">
                <a href="https://www.linkedin.com/in/shivam1097/"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/Shivam1097"><i class="fab fa-github"></i></a>

            </div>

        </div>

    </footer>
    </body>

    </html>