<% include ../../partials/header %>

<% include ../../partials/studentSidebar %>

    <div class="col-10 text-center">
        <div id='marksGraph' class="m-2 text-center">
            <p class="status p-3">Your attendance is : <span style="font-size:40px;font-weight:600;"> <%= result %> %</span></p>
            <!-- <h3 class="mt-3 ">Your attendance is : <%= result %> %</h3> -->
            <img src="attendance.jpeg" class='m-2' alt="">
            </div>
    </div>