<% include ../../partials/header %>

<% include ../../partials/studentSidebar %>
    <div class="col-10">
        <div id="block_signup_login" class="text-center">
            
            <form class="form-group" action="/student/marks" method="get">
        
            <div>
                <label for="test" class="font-weight-bold p-2 m-2">Subject : </label>
            <select name="test" id="test" class="form-control drop">
                <option value="1">CT-1</option>
                <option value="2">CT-2</option>
                <option value="3">PUT</option>
            </select>
        </div>

        <input type="submit" class="btn btn-success text-uppercase font-weight-bold p-2 m-2" value="View">
    </div>
        </div>
    </div>