<% include ../partials/header %>

<% include ../partials/studentSidebar %>
    <div class="col-10">
        <div id="block">
            <p>
                <span id="username">
                Welcome <%= currentUser.username %>! <br></span>
                Here you will find all the required information regarding your academics.
            </p>
            
        </div>
    </div>